__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.csv

.venv/
venv/

data/gtzan/genres_original/
images_original/

data/gtzan/features_mfcc/
data/gtzan/latent_vectors/
images/

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/
